# Database Configuration URL template for MySQL
# Format: mysql+pymysql://username:password@hostname:port/database_name

DATABASE_URL=mysql+pymysql://root:password@localhost:3306/smart_agriculture_db
