# Database Configuration URL (MySQL, PostgreSQL, or leave empty to use SQLite default)
# Format for PostgreSQL: postgresql+psycopg2://username:password@hostname:5432/database_name
# Format for MySQL: mysql+pymysql://username:password@hostname:3306/database_name

DATABASE_URL=postgresql+psycopg2://postgres:password@localhost:5432/smart_agriculture_db

